.wrapper{
    display: grid;
    grid-template-rows: 1fr 8fr;
    height: 100vh;
    background-color: $primaryBg;
}

.appBody{
    display: grid;
    grid-template-columns: 1fr 2fr;
    @include gridAligmentCenter;
}

.ideaCreator{
    @include gridAligmentCenter;
    width: 90%;
}