@mixin flexAligmentCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin gridAligmentCenter{
    display: grid;
    align-items: center;
    justify-items: center;
}

@mixin borderRadius {
    border-radius: 0.8rem;
}

@mixin Shadow{
    box-shadow: 0.15rem 0.15rem 0.2rem black;
}

@mixin bgGradient{
    background:linear-gradient( 45deg, #57233a, #ae4951);
}

@mixin btnInptReset{
    border: none;
    outline: none;
    border-radius: 0.2rem;
}

@mixin Srcoll {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
}